/* Basic styling for the homepage */

.hero-section {
    background: linear-gradient(to right, #928DAB, #1F1C2C);
    padding: 100px 20px;
  }
  
  .search-bar {
    width: 70%;
    margin: auto;
    height: fit-content;
    /* margin-right: 10px; */

  }
  
  .map-btn {
    margin-left: 10px;
  }
  
  .deal-card {
    transition: transform 0.3s ease;
  }
  
  .deal-card:hover {
    transform: translateY(-5px);
  }
  
  .map-preview {
    /* background: #f8f9fa; */
    padding: 40px 20px;
  }
  
  .why-tukku ul {
    list-style: none;
  }

  .footer {
    margin-top: 50px;
  }